.vs/*
StreetEats/bin/StreetEats.pdb
StreetEats/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
StreetEats/obj/Debug/StreetEats.csproj.CoreCompileInputs.cache
StreetEats/obj/Debug/StreetEats.pdb