
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="AboutStreetEatsTitle" class="pageTitles">
    <h1>Privacy Policy and Cookies</h1>
</div>
<div>

    <div class="container topContainer middleContent">
        <div class="row">
            <div class="privacyColumn">
                <button class="collapsible">Introduction<span class="glyphicon glyphicon-chevron-right privacyRight"></span></button>
                <div class="privacySections content introContent">
                    <p>At StreetEats your privacy matters to us. We respect our customers and their right to know what happens to the data you give us.</p>
                    <p>This privacy policy contains the following:</p>
                    <ul>
                        <li>
                            Who we are
                        </li>
                        <li>
                            What data we collect
                        </li>
                        <li>
                            How we use personal information
                        </li>
                        <li>
                            Our legal basis for processing your personal data
                        </li>
                        <li>
                            When do we share personal information
                        </li>
                        <li>
                            Where do we store and process personal data
                        </li>
                        <li>
                            How do we secure personal data
                        </li>
                        <li>
                            Your rights in relation to personal data
                        </li>
                        <li>
                            How to contact us
                        </li>
                    </ul>
                    <p>
                        This privacy policy applies to personal data you submit via the contact and feedback forms on <a href="https://www.street-eats.co.uk" target="_blank">https://www.street-eats.co.uk </a>and personal data you send to <b>info@street-eats.co.uk</b>.
                    </p>
                    <p>
                        Please read this privacy policy carefully and contact us if you have any questions or concerns about our privacy practices.
                    </p>
                    <p>
                        <b>Click the pink banners to find out more about each section of our privacy policy.</b>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container topContainer middleContent">
        <div class="row">
            <div class="privacyColumn">
                <button class="collapsible">Who are we?<span class="glyphicon glyphicon-chevron-right privacyRight"></span></button>
                <div class="privacySections content">
                    <p>
                        We are StreetEats. A cateering service for Weddings, Supperclubs and Corporate meetings.
                    </p>
                    <p>
                        You can contact us in the following ways:
                    </p>
                    <p><b>Email: </b>info@street-eats.co.uk</p>
                    <p>
                        <b>The data controller is:</b> Michael Chartlon and can be reached with the contact details above.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="container topContainer middleContent">
        <div class="row">
            <div class="privacyColumn">
                <button class="collapsible">What information do we collect?<span class="glyphicon glyphicon-chevron-right privacyRight"></span></button>
                <div class="privacySections content">
                    <p>
                        <b>The personal information we collect is:</b>
                    </p>
                    <ul>
                        <li>Full Name</li>
                        <li>
                            Email Address
                        </li>
                        <li>
                            Address/Corporate Address
                        </li>
                        <li>
                            Phone Number
                        </li>
                    </ul>
                    <p><b>We collect this via:</b></p>
                    <ul>
                        <li>
                            Contact Form in our website
                        </li>
                        <li>
                            Feedback Form on our website
                        </li>
                        <li>
                            Via email when personal data is given during correspondance
                        </li>
                    </ul>
                    <p>
                        We process personal and financial data when creating invoices for our services.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container topContainer middleContent">
        <div class="row">
            <div class="privacyColumn">
                <button class="collapsible">How do we use personal information?<span class="glyphicon glyphicon-chevron-right privacyRight"></span></button>
                <div class="privacySections content">
                    <ul>
                        <li>Communication via email, phone and in person with clients to arrange caterring</li>
                        <li>
                            Addresses to deliver food, equipment, set-up for cateered events
                        </li>
                        <li>
                            Bank details to create invouces
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container topContainer middleContent">
        <div class="row">
            <div class="privacyColumn">
                <button class="collapsible">What legal basis do we have for processing your personal data?<span class="glyphicon glyphicon-chevron-right privacyRight"></span></button>
                <div class="privacySections content">
                    <ul>
                        <li><b>Contract</b> - We require your name, address to provice the cateering service</li>
                        <li>
                            <b>Consent</b> - If you haven't agreed to a service/contract with us you have the right to ask for your personal details to be withdrawn or ask for more information on how we process your personal data
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container topContainer middleContent">
        <div class="row">
            <div class="privacyColumn">
                <button class="collapsible">When do we share your personal data?<span class="glyphicon glyphicon-chevron-right privacyRight"></span></button>
                <div class="privacySections content">
                    <p>
                        We would only share your personal data with your consent.
                    </p>
                    <p>
                        We treat personal data confidentially.
                    </p>
                    <p>
                        For example, if we ask for your feedback to use as a testimony on our website we will ask to use your name (choice of first or full name). Or ask if we can share a tweet or facebook post with information/pictures of the service we provided.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container topContainer middleContent">
        <div class="row">
            <div class="privacyColumn">
                <button class="collapsible">Where do we store and process your personal data?<span class="glyphicon glyphicon-chevron-right privacyRight"></span></button>
                <div class="privacySections content">
                    <p>
                        We do not process data outside of the U.K.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container topContainer middleContent">
        <div class="row">
            <div class="privacyColumn">
                <button class="collapsible">How do we secure your personal data?<span class="glyphicon glyphicon-chevron-right privacyRight"></span></button>
                <div class="privacySections content">
                    <ul>
                        <li>
                            We do not store your personal information on a database
                        </li>
                        <li>
                            Access to personal information is only accessible to the data controller unless you have explicity given consent for the data to be shared
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container topContainer middleContent">
        <div class="row">
            <div class="privacyColumn">
                <button class="collapsible">How long do we keep your personal data for?<span class="glyphicon glyphicon-chevron-right privacyRight"></span></button>
                <div class="privacySections content">
                    <p><b>We only keep your personal data for as long as we are in your service for a catteering event with the exception of:</b></p>
                    <ul>
                        <li>
                            You have given us explicit consent to share your data
                        </li>
                        <li>
                            You have asked for your personal data to be removed
                        </li>
                    </ul>
                    <p>
                        GDPR require we only retain data for no longer than reasonably necessary.
                        When removing your personal data, we will remove it from email, any contact information in our phones, destroy paper records if not required by law.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container topContainer middleContent">
        <div class="row">
            <div class="privacyColumn">
                <button class="collapsible">Your rights in relation to personal data<span class="glyphicon glyphicon-chevron-right privacyRight"></span></button>
                <div class="privacySections content">
                    <p>
                        <b>Under GDPR you have the right to access and control your personal data. This includes:</b>
                    </p>
                    <ul>
                        <li>
                            Access to your personal information
                        </li>
                        <li>
                            Correcting or deleting your personal data
                        </li>
                        <li>
                            Withdrawal of consent
                        </li>
                        <li>
                            Restriction of processing and objection
                        </li>
                        <li>
                            Lodging a complaint with the with the Information Commissioner's office
                        </li>
                    </ul>
                    <p><b>You can exercise these rights by contacting streetEats via:</b></p>
                    <ul>
                        <li><b>Email: </b>info@street-eats.co.uk</li>
                    </ul>
                    <p>
                        Inform us what rights you wish to express and we will do so if it is not limited (see below).
                        Your rights may be limited if fulfilling your request may expose personal data aout another person or asked to delete data which we are required to keep by law.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="container topContainer middleContent">
        <div class="row">
            <div class="privacyColumn">
                <button class="collapsible">Cookies<span class="glyphicon glyphicon-chevron-right privacyRight"></span></button>
                <div class="privacySections content">
                    <p>
                        <b>What are cookies?</b>
                    </p>
                    <p>
                        Cookies are small pieces of text sent by your web browser by a website you visit. A cookie file is stored in your web browser and allows StreetEats or a third-party to recognize you and make your next visit easier and the StreetEats website more useful to you.
                        Cookies can be "persistent" or "session" cookies.

                    </p>
                    <b>
                        Use of cookies and other technologies
                    </b>
                    <p>
                        Cookies are in use on this website.
                    </p>
                    <b>
                        How StreetEats uses cookies
                    </b>
                    <p>When you use and access the StreetEats, we may place a number of cookie files in your web browser.</p>
                    <p>
                        <b>We use cookies for the following purposes:</b> social media plugins
                    </p>
                    <p>
                        <b>We use both session and persistent cookies on the StreetEats website.</b>
                    </p>
                    <p>
                        <b>These cookies are Third-party cookies from the following companies:</b>
                    </p>
                    <ul>
                        <li>
                            Twitter - More information<a href="https://developer.twitter.com/en/docs/twitter-for-websites/privacy.html" target="_blank"> here</a>
                        </li>
                        <li>
                            Facebook - More information here<a href="https://www.facebook.com/policies/cookies/" target="_blank"> here</a>
                        </li>
                        <li>
                            Instagram - More information here<a href="https://help.instagram.com/1896641480634370" target="_blank"> here</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>