.firstSlide {
    background: url('/Content/images/slides/wedding.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width:100%;
    height:100%;
}

.secondSlide {
    background: url('/Content/images/slides/corporate.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
}

.thirdSlide {
    background: url('/Content/images/slides/market.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
}
#aboutLink, #aboutUsButton, #testimoniesLink {
    background-color: #a2356a;
    border-color: #872c58;
    color: #fff;
    text-decoration: none;
    margin-top: 0px;
    margin-right: auto;
    margin-left: auto;
    padding: 13px 19px;
}
.fPCarouselCaption h3,
.carousel .icon-container,
.fPCarouselCaption button {
    background-color: rgb(162, 53, 106);
}

.fPCarouselCaption h3 {
    padding: .5em;
}

.carousel .icon-container {
    display: inline-block;
    font-size: 25px;
    line-height: 25px;
    padding: 1em;
    text-align: center;
    border-radius: 50%;
}

.fPCarouselBtn {
    background-color: rgb(162, 53, 106);
    border-color: #872c58;
    margin-top: 1em;
}

/* Animation delays */
.fPCarouselCaption h3:first-child {
    animation-delay: 1s;
}

.fPCarouselCaption h3:nth-child(2) {
    animation-delay: 2s;
}

.fPCarouselCaption button {
    animation-delay: 3s;
}
.mb-3.pics.animation.all {
    padding-top: 8px;
    padding-left: 8px;
}
#weddingLink, #corporateLink, #marketLink {
    color: #fff;
    text-decoration: none;
}

.homeRow {
    display: flex;
    display: -ms-flex;
    display: -webkit-flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}
.homeColumn > p {
    width: 40%;
    margin: 1em auto 1em;
    font-style: italic;
}
.homeColumn {
    overflow: hidden;
    flex-direction: column;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    word-break: break-word;
}
.showMore{
    margin-bottom: 3%;
}
.carousel-inner {
max-height: 100%;
}
.container{
    padding:0px;
}
h3 {
    font-weight: bold
}
.homeMiddle {
    background: rgb(224,159,190);
    background: linear-gradient(202deg, rgba(224,159,190,1) 35%, rgba(253,251,206,1) 100%);
}
.homeLast {
    background: rgb(253,251,206);
    background: linear-gradient(202deg, rgba(253,251,206,1) 35%, rgba(224,159,190,1) 100%);
}
.homeColumn > p, .homeColumn > div > p {
    font-size: calc(1em + 0.5vw)
}
button{
    font-size:inherit;
}
.middle {
}
.hireUsRow {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
}
.hireUsColumn {
    -ms-flex: 50%; /* IE10 */
    flex: 50%;
    max-width: 50%;
    font-size: 1.5em;
    text-align: left;
}

    .hireUsColumn img {
        margin-top: 8px;
        vertical-align: middle;
        width: 100%;
    }

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
    .hireUsColumn {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .hireUsColumn {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }
}
.imageColumn{
    padding: 0 4px;
}
.mainHireUsRow{
    margin: 2% 16% 2% 16%;
}
.hireUsButton{
    margin-top: 1.7%;
    margin-bottom: 1.7%;
}