.firstSlide {
    background: url('/Content/images/slides/wedding.jpg');
    background-repeat: no-repeat;
}

.secondSlide {
    background: url('/Content/images/slides/corporate.png');
    background-repeat: no-repeat;
}

.thirdSlide {
    background: url('/Content/images/slides/market.jpg');
    background-repeat: no-repeat;
}
#homeTestimonies > p {
    border-radius: 3px;
    position: relative; /*  <--- */
    font-style: italic;
    text-align: center;
    padding: 0.3rem 1.2rem;
    color: #4a4a4a;
    margin: 1rem auto 2rem;
    color: #4a4a4a;
    background: #E8E8E8;
}
    /* -- create the quotation marks -- */
    #homeTestimonies > p:before,
    #homeTestimonies > p:after {
        font-family: FontAwesome;
        position: absolute;
        /* -- inside the relative position of blockquote -- */
        top: 13px;
        color: #E8E8E8;
        font-size: 34px;
    }

#homeTestimonies > p:before {
    content: "\f10d";
    margin-right: 13px;
    right: 100%;
}

#homeTestimonies > p:after {
    content: "\f10e";
    margin-left: 13px;
    left: 100%;
}
#aboutLink, #aboutUsButton, #testimoniesLink {
    background-color: #a2356a;
    border-color: #872c58;
    color: #fff;
    text-decoration: none;
    width: 30%;
    margin-top: 0px;
    margin-right: auto;
    margin-left: auto;
    padding: 13px 19px;
}
.fPCarouselCaption h3,
.carousel .icon-container,
.fPCarouselCaption button {
    background-color: rgb(162, 53, 106);
}

.fPCarouselCaption h3 {
    padding: .5em;
}

.carousel .icon-container {
    display: inline-block;
    font-size: 25px;
    line-height: 25px;
    padding: 1em;
    text-align: center;
    border-radius: 50%;
}

.fPCarouselBtn {
    background-color: rgb(162, 53, 106);
    border-color: #872c58;
    margin-top: 1em;
}

/* Animation delays */
.fPCarouselCaption h3:first-child {
    animation-delay: 1s;
}

.fPCarouselCaption h3:nth-child(2) {
    animation-delay: 2s;
}

.fPCarouselCaption button {
    animation-delay: 3s;
}
.mb-3.pics.animation.all {
    padding-top: 8px;
    padding-left: 8px;
}
#weddingLink, #corporateLink, #marketLink {
    color: #fff;
    text-decoration: none;
}

.homeRow {
    display: flex;
    display: -ms-flex;
    display: -webkit-flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}
.homeColumn > p {
    font-size: 1.1vw;
    width: 60%;
    margin: 1em auto 1em;
}
.homeColumn {
    overflow: hidden;
    flex-direction: column;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    background: url(/Content/images/background/cream_dust.png) repeat 0 0;
    word-break: break-word;
}
.showMore{
    margin-bottom: 3%;
}
.carousel-inner {
max-height: 100%;
}
.container{
    padding:0px;
}