body {
    padding-top: 50px;
    padding-bottom: 20px;
    overflow: hidden;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.carousel-indicators  li{
    background-color: darkgrey;
    border: none;
    height: 15px;
    width: 15px;
}
.carousel-indicators .active {
    background-color: rgb(162, 53, 106);
    border: none;
    height: 17px;
    width: 17px;
}
.tales {
    width: 100%;
}

#myCarousel.carousel-inner {
    width: 100%;
    max-height: 600px !important;
}

.navbar-inverse {
    background-color: rgb(162, 53, 106) !important;
    border-color: rgb(162, 53, 106) !important;
}
.navbar-inverse .navbar-brand {
    color: rgb(248, 238, 65) !important;
}
.navbar-inverse .navbar-nav > li > a {
    color: rgb(248, 238, 65) !important;
}
.IndexLogo {
    height: 8vh !important;
    width: 8vh !important;
    border: 10px solid white;
    border-radius: 600px;
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
    display: block;
    margin-top: 0.3vh;
}
.nav > li > a > img {
    height: 3.5vh !important;
    width: 2.5vw !important;
}
.glyphicon-home, .glyphicon-info-sign, .glyphicon-envelope {
    font-size: 3.5vh !important;
}
.iconFreepik {
    margin-top: 2vh !important;
}
#myCarousel {
    margin-top: 10vh;
}
.weddingBody {
    width: 100%;
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -moz-background-size: cover;
    background-image: url('/Content/Images/background/wedding.png')
}
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
#weddingCarousel {
    margin: auto;
    margin-top: 160px;
    width: 38%;
}
#weddingCarousel.carousel-inner {
    height: 700px;
}
#weddingCarousel .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next {
    right: 19px;
}

#weddingCarousel .glyphicon-chevron-left, .carousel-control .icon-prev {
    left: 7.5px;
}
#sidebar{
    float: right;
}
#socialsidebar > div > a {
    text-decoration: none;
    vertical-align: middle;
    text-align: center;
    line-height: 3;
}
    #socialsidebar > div > a > p {
        color: white;
        position: relative;
        left: -10px;
    }
#socialsidebar {
    height: 250px;
    width: 10px;
    position: fixed;
    text-align: center;
    padding: 10px;
    margin-left: 10px;
    left: 0;
    margin-top: 4vh;
}
#socialsidebar > div > a > p > i {
    left: 30px;
    position: relative;
    vertical-align: middle;
    text-align: center;
    font-size: 24px;
}

.social {
    margin-left: -200px;
    width: 230px;
    padding: 0;
    display: inline-table;
    height: 0px;
    background-color: rgba(128, 128, 128, 0.73);
    -moz-transition-property: margin-left;
    -moz-transition-duration: 0.2s;
    -moz-transition-delay: 0.2s;
    -ms-transition-property: margin-left;
    -ms-transition-duration: 0.2s;
    -ms-transition-delay: 0.2s;
    -o-transition-property: margin-left;
    -o-transition-duration: 0.2s;
    -o-transition-delay: 0.2s;
    -webkit-transition-property: margin-left;
    -webkit-transition-duration: 0.2s;
    -webkit-transition-delay: 0.2s;
    box-shadow: 0px 0px 6px 0px #3E3D3D;
    cursor: pointer;
}

.social:hover {
    margin-left: -30px;
    width: 230px;
    background-color: #3b5998;
}

.facebook:hover {
    background-color: #3b5998;
}

.twitter:hover {
    background-color: #4099FF;
}

.instagram:hover {
    background-color: #c13584;
}
.facebook p i {
    left: 40px !important;
}
.twitter p i {
    left: 45px !important;
}

.instagram p i {
    left: 35px;
}