body {
    padding-top: 50px;
    padding-bottom: 20px;
    overflow: hidden;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.carousel-indicators  li{
    background-color: white;
    border: none;
    height: 15px;
    width: 15px;
}
.carousel-indicators .active {
    background-color: rgb(162, 53, 106);
    border: none;
    height: 17px;
    width: 17px;
}
.tales {
    width: 100%;
}

.carousel-inner {
    width: 100%;
    max-height: 600px !important;
}

.navbar-inverse {
    background-color: rgb(162, 53, 106) !important;
    border-color: rgb(162, 53, 106) !important;
}
.navbar-inverse .navbar-brand {
    color: rgb(248, 238, 65) !important;
}
.navbar-inverse .navbar-nav > li > a {
    color: rgb(248, 238, 65) !important;
}
.IndexLogo {
    height: 30% !important;
    width: 30% !important;
    border: 10px solid white;
    border-radius: 600px;
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.3vh;
}
.nav > li > a > img {
    height: 3.5vh !important;
    width: 2.5vw !important;
}
.glyphicon-home, .glyphicon-info-sign, .glyphicon-envelope {
    font-size: 3.5vh !important;
}
.iconFreepik {
    margin-top: 2vh !important;
}
#myCarousel {
    margin-top: 10vh;
}
.weddingBody {
    width: 100%;
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -moz-background-size: cover;
    background-image: url('/Content/Images/background/wedding.jpg')
}
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
/*#canvas {
    width: 960px;
    height: 850px;
    margin: 100px auto;
}
#book-zoom {
    -webkit-transition: -webkit-transform 1s;
    -moz-transition: -moz-transform 1s;
    -ms-transition: -ms-transform 1s;
    -o-transition: -o-transform 1s;
    transition: transform 1s;
    margin-left: 60px;
}
.animated {
    -webkit-transition: margin-left 0.2s ease-in-out;
    -moz-transition: margin-left 0.2s ease-in-out;
    -o-transition: margin-left 0.2s ease-in-out;
    -ms-transition: margin-left 0.2s ease-in-out;
    transition: margin-left 0.2s ease-in-out;
}
.sample-docs {
    margin-top: 20px;
}
.sample-docs .page {
    width: 471px;
    height: 600px;
    background: white;
    -webkit-box-shadow: 0 0 20px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 0 20px rgba(0,0,0,0.2);
    -ms-box-shadow: 0 0 20px rgba(0,0,0,0.2);
    -o-box-shadow: 0 0 20px rgba(0,0,0,0.2);
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
}
.sample-docs .p2 {
    background-position: -471px 0;
}
.sample-docs .p28 {
    background: -webkit-gradient(linear, left top, right top, color-stop(0.95, #fff), color-stop(1, #dadada));
    background-image: -webkit-linear-gradient(left, #fff 95%, #dadada 100%);
    background-image: -moz-linear-gradient(left, #fff 95%, #dadada 100%);
    background-image: -ms-linear-gradient(left, #fff 95%, #dadada 100%);
    background-image: -o-linear-gradient(left, #fff 95%, #dadada 100%);
    background-image: linear-gradient(left, #fff 95%, #dadada 100%);
}
.sample-docs .even .gradient {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: right top;
    background-repeat: repeat-y;
}
.sample-docs .odd .gradient {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: left top;
    background-repeat: repeat-y;
}
.sample-docs .page-wrapper {
    -webkit-perspective: 2000px;
    -moz-perspective: 2000px;
    -ms-perspective: 2000px;
    perspective: 2000px;
}

.sample-docs .loader {
    background-image: url(../../Scripts/pics/loader.gif);
    width: 22px;
    height: 22px;
    position: absolute;
    top: 280px;
    left: 219px;
}
.sample-docs .shadow {
    -webkit-transition: -webkit-box-shadow 0.5s;
    -moz-transition: -moz-box-shadow 0.5s;
    -o-transition: -webkit-box-shadow 0.5s;
    -ms-transition: -ms-box-shadow 0.5s;
    -webkit-box-shadow: 0 0 20px #ccc;
    -moz-box-shadow: 0 0 20px #ccc;
    -o-box-shadow: 0 0 20px #ccc;
    -ms-box-shadow: 0 0 20px #ccc;
    box-shadow: 0 0 20px #ccc;
}*/
.t {
    display: table;
    width: 100%;
    height: 100%;
}

.tc {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.rel {
    position: relative;
}

/* book */

.book {
    margin: 0 auto;
    width: 90%;
    height: 90%;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

    .book .page {
        height: 100%;
    }

        .book .page img {
            max-width: 100%;
            height: 100%;
        }