.container-box
{
	display:inline-block;
	position: fixed;
  	top: 55%;
  	left: 0;
}
.rotated
{
	-moz-transform:rotate(-90deg);
    -ms-transform:rotate(-90deg);
    -o-transform:rotate(-90deg);
    -webkit-transform:rotate(-90deg);
    transform-origin: top left;  
}
.modal-dialog {
    padding-top: 8vh;
}